[Unit]
Description=Media center
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Environment=PUID=1000
Environment=PGID=1000
Environment=HOSTNAME=your_hostname
Environment=TOP_DOMAIN=example.com
WorkingDirectory=/root/dockerfiles/composefiles/mediacenter
ExecStartPre=-/usr/bin/docker-compose down -v --remove-orphans
ExecStart=/usr/bin/docker-compose up --remove-orphans --force-recreate
ExecStop=/usr/bin/docker-compose down -v --remove-orphans

[Install]
WantedBy=multi-user.target
